@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body {
    margin-top: 50px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    background: linear-gradient(to bottom, white, rgb(120, 231, 120));
  }

