@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    background: linear-gradient(to bottom, white, white, #ffa6c9);
  }

  #header {
    color: #ffa6c9;
    text-shadow: 2px 2px #5F9F9F;
    font-family: 'Amatic SC', cursive;
    font-size: 90px;
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
    margin-left: 60px;
    top: 500px;
  }

  .button:focus {
    border-color:#333;
 }
 
 .button {
     padding:5px 15px; 
     background:#ffa6c9;
     color: whitesmoke;
     border:0 none;
     cursor:pointer;
     -webkit-border-radius: 5px;
     border-radius: 5px; 
 }
 
 .button:hover {
   color: #fa4c92;
 }
 

 
 #table {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 20%;
}