@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body {
    margin-top: 50px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    background: linear-gradient(to bottom, white, rgb(120, 231, 120));
  }


  .button:focus {
    border-color:#333;
 }
 
 .button {
     padding:5px 15px; 
     background:#61946d;
     color: whitesmoke;
     border:0 none;
     cursor:pointer;
     -webkit-border-radius: 5px;
     border-radius: 5px; 
 }
 
 .button:hover {
   color: rgb(120, 231, 120);
 }
 
 #table {
    margin-left: auto;
    margin-right: auto;
}